@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
    <div class = "p-3 mb-2 bg-danger text-white rounded">
        @TempData["MensajeDenegado"]
    </div>

